body{
	margin: 0;
	/*TNR is 1st priority, if the don't have it then Arial is used 2nd*/
	font-family: Times New Roman, Arial, sans-serif; 
}

header{
	/*Background-color within the header only:*/
	background-color: maroon;
	/*Centers both the image and the text:*/
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

header h1{
	/*The color of the text within the header*/
	color: white;
}

header img{
	/*Creates an outline around the image:*/
	border: 8px solid black;
	/*Makes the header image a circle*/
	border-radius: 250px;
	width: 450px
}

body img{
	border-radius: 250px
	width: 350px;
}
8:40 CSS;